/* .logout-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-left:48%
} */

.logout-btn{
    margin: 1rem;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    font-weight: bold;
    border-color: transparent;
    background: var(--clr-primary-5);
    border-radius: var(--radius);
    color: var(--clr-white);
    letter-spacing: var(--spacing);
    cursor: pointer;
}